@media screen and (max-width:720px) {
    body {
        background-color: green;
    }
    #projects article {
        display: block;
        float: none;
        width: 47%;
        margin: 0 auto;
        text-align: center;
        padding: 30px 0;
    }
    .container {
    	width: 100%;
    }
    nav img {
    	visibility: hidden;
    }
}
